@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
}


.container {
   margin-top: 100px;

}


.container .main {
    height: 500px;
    width: 300px;
    margin: auto;
    max-width: 375px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    background-color: white;
    overflow-wrap: break-word;
}

.code{
     width: 280px; 
}

.qrcodes{
    width: 50px;
    /* height: auto; */
}

h1{
    font-size: 20px;
    font-weight: 400px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

p{
    font-size: 15px;
    font-family: 700px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:  hsl(220, 15%, 55%);
}


@media screen and (max-width: 375px) {
    body {
    }
  }
